# Q1

In [1]:
# it is an empty list 
l = []

In [4]:
type(l)

list

# Q2

In [5]:
spam = [2,4,6,8,10]
spam.insert(3,'hello')

In [6]:
spam

[2, 4, 6, 'hello', 8, 10]

# Q3

In [11]:
spam =['a','b','c','d']

In [12]:
spam[int(int('3'*2)/11)]

'd'

# Q4

In [13]:
spam[-1]

'd'

# Q5

In [14]:
spam[:2]

['a', 'b']

# Q6

In [15]:
bacon = [3.14,'cat',11,'cat',True]

In [16]:
bacon.index('cat')

1

# Q7

In [17]:
bacon.append(99)

In [18]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

# Q8

In [22]:
bacon.remove('cat')

In [23]:
bacon

[3.14, 11, True, 99]

# Q9

In [24]:
list1 = [2,5,6,7,9]
list2 = [45,8,7,2,9]
list3 = list1 + list2

In [25]:
# this is list concatecation
list3

[2, 5, 6, 7, 9, 45, 8, 7, 2, 9]

In [26]:
list4 = ['a','b','c','d']
list4 *3

['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']

In [27]:
# this was list replecation because a b c d where replicated 3 times

#  Q10

In [28]:
# APPEND
L1 = [4,5,6,7]
L1.append(9)

In [29]:
L1

[4, 5, 6, 7, 9]

In [30]:
# insert 
L2 = [7,9,4,5]
L2.insert(2,5)

In [31]:
L2

[7, 9, 5, 4, 5]

In [32]:
# the diffence is in append number is added in list at last 
# but in insert the number can be added at any index

# Q11

In [33]:
list5 = ['m','u','k','e','s','h']

In [34]:
list5.pop(2) # method 1

'k'

In [35]:
list5

['m', 'u', 'e', 's', 'h']

In [40]:
list5.remove('u')

In [41]:
list5

['e', 's', 'h']

# Q12

In [43]:
list7 = ['man','men','he','boy']
for i in list7:
    print(i)

man
men
he
boy

In [44]:
type(i)

str

In [45]:
a = 'mukesh'
type(a)

str

In [46]:
# both have same data type string

# Q13

In [47]:
list1 = []
tuple1 = () #both have different types of bracket 
# tuple are immutable that means once a tuple is created 
# you can not add any other element in tuple
# where as in list you can perform that tasks

# Q14

In [48]:
tuple2 = (42)

# Q15

In [49]:
tuple3  = (4,5,6,7)
list(tuple3)

[4, 5, 6, 7]

In [50]:
list8 = [4,5,7,8]
tuple(list8)

(4, 5, 7, 8)

# Q16

In [ ]:
#IT CAN CONTAIN AS TUPLE OR DICTIONARY 
#For ex
  
dict1 = {key1:[4,5,6,7]}
tuple5 = ([4,5,6,7])

# Q17

In [67]:
lis = [4,5,6,7]
lis1 = copy.copy(lis)

In [70]:
lis1[1] = 15

In [71]:
lis1

[4, 15, 6, 7]

In [72]:
lis # shallow copy for normal list

[4, 5, 6, 7]

In [84]:
lisn = [[4,5,7,9],[10,78,56]]
lisn1 = copy.copy(lisn)

In [85]:
lisn1[1][0] = 100

In [86]:
lisn1

[[4, 5, 7, 9], [100, 78, 56]]

In [87]:
lisn #here i nested list it 100 is getting changed in both

[[4, 5, 7, 9], [100, 78, 56]]

In [88]:
import copy 
list10 = [[45,56,76],[78,39,58]]
list11 = copy.deepcopy(list10)

In [89]:
list11

[[45, 56, 76], [78, 39, 58]]

In [90]:
list11[1][1] = 1000

In [91]:
list11

[[45, 56, 76], [78, 1000, 58]]

In [92]:
list10 # here in deep copy the list is values are different

[[45, 56, 76], [78, 39, 58]]

In [ ]:
# the  differnce between copy.copy and deep copy is 
# when copy.copy is used on noraml list at that time the the updated and orginal lsit has different memory allocation
# where as when copy.copy is used in nested list they have same memmory allocation 4


# in deep copy 
# when deep copy is used in normal list it provides same output as copy 
#but when deep copy is used on nested list there are differnet memmory allocations